altgraph>=0.17.4
certifi>=2024.2.2
charset-normalizer>=3.3.2
click>=8.1.7
EasyProcess>=1.1
Flask>=2.2.5,<3
Flask-SQLAlchemy>=3.1.1
future>=0.18.3
gunicorn>=21.2.0
idna>=3.6
itsdangerous>=2.1.2
Jinja2>=3.1.4
macholib>=1.16.3
MarkupSafe>=2.1.5
olefile>=0.47
pefile>=2023.2.7
Pillow>=10.2.0
pygeoip==0.3.2
PyInstaller>=6.3.0
pyinstaller-hooks-contrib>=2023.10
pyscreenshot>=3.1
requests>=2.31.0
SQLAlchemy>=2.0.16
urllib3>=2.2.1
Werkzeug>=2.2.3
